

$white: #ffffff
$ea-blacker: #222121
$low-starch-blue: #83CFCE
$mdst-blue: #289BD6
$ea-black: #232323
$light-grey: #FAFAFA
$darkest-grey: #151515
$is-link: $mdst-blue
$navbar-height: 1.0rem
$navbar-item-img-max-height: 2.5rem
// $section-padding: 0


@import "~bulma"

// .button
//   border-radius: 0

.is-mdst-blue
  background-color: $mdst-blue

.is-low-starch-blue
  background-color: $low-starch-blue

.button.is-border-low-starch-blue
  border-color: $low-starch-blue

// .section.has-section-padding-none
//   padding: 0
//   margin: 0